.container2 {
  margin-left: 84px;
  margin-right: 84px;
  align-items: center;
  align-content: center;
}

.img {
  width: 60vw;
}

.case_description {
  max-width: 600px;
}

.mainsection2 {
  left: 0;
  background-color: #000;
  color: #fffdfa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  color: #fffdfa;
}

@media screen and (max-width: 510px) {
  .container2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .img {
    width: 50vw;
  }
}
